<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Mad Libs</title>
		<link href="css/styles.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>

		<script src="js/app.js"></script>
	</head>
	<body ng-app ="app">
		<div id="container" ng-controller="textCtrl as vm">
			<header>
				<img src="images/mad-lib-happy-face.png"><img src="images/ng-mad-libs-logo.png">
			</header>
			<section id="words" ng-hide="vm.submitted">
				<h2>Select Gender</h2>
				<input type="radio" name="gender" value="male" ng-change="vm.genderChange()" ng-model="gender">male
				<input type="radio" name="gender" value="female" ng-change="vm.genderChange()" ng-model="gender">female
				<h2>Provide the following words:</h2>
					
				<form name="myForm" ng-submit="vm.submit()"  novalidate>
					<div class="column">
						<p>Name:<br>
							<input type="text" name="name" ng-model="vm.name" placeholder="name" required>
							<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
							<span ng-show="myForm.name.$error.required">name is required.</span>
							</span>
						</p>

						<p>Job Title:<br>
							<input type="text" name="jobTitle" ng-model="vm.jobTitle" placeholder = "Job Title" required>
							<span style="color:red" ng-show="myForm.jobTitle.$dirty && myForm.jobTitle.$invalid">
							<span ng-show="myForm.jobTitle.$error.required">TediousTask is required</span>
							</span>
						</p>

						<p>Tedious Task:<br>
						<input type="text" name="tediousTask" ng-model="vm.tediousTask" placeholder = "Tedious Task" required>
							<span style="color:red" ng-show="myForm.tediousTask.$dirty && myForm.tediousTask.$invalid">
							<span ng-show="myForm.tediousTask.$error.required">TediousTask is required</span>
							</span>
						</p>
					</div>
					<div class="column">
						<p>Dirty Task:<br>
							<input type="text" name="dirtyTask" ng-model="vm.dirtyTask" placeholder = "Dirty Task" required>
							<span style="color:red" ng-show="myForm.dirtyTask.$dirty && myForm.dirtyTask.$invalid">
							<span ng-show="myForm.dirtyTask.$error.required">Dirty Task is required.</span>
							</span>
						</p>


						<p>Celebrity:<br>
							<input type="text" name="celebrity" ng-model="vm.celebrity" placeholder="Celebrity" required>
							<span style="color:red" ng-show="myForm.celebrity.$dirty && myForm.celebrity.$invalid">
							<span ng-show="myForm.celebrity.$error.required">Celebrity is required</span>
							</span>
						</p>
						<p>Useless Skill:<br>
							<input type="text" name="uselessSkill" ng-model="vm.uselessSkill" placeholder="Use Skill" required>
							<span style="color:red" ng-show="myForm.uselessSkill.$dirty && myForm.uselessSkill.$invalid">
							<span ng-show="myForm.uselessSkill.$error.required">Email is required.</span>
							</span>
						</p>
					</div>
					<div class="column">
						<p>Obnoxious Celebrity:<br>
						<input type="text" name="obnoxiousCelebrity" ng-model="vm.obnoxiousCelebrity" placeholder="Obnoxious Celebrity" required>
						<span style="color:red" ng-show="myForm.obnoxiousCelebrity.$dirty && myForm.obnoxiousCelebrity.$invalid">
						<span ng-show="myForm.obnoxiousCelebrity.$error.required">Email is required.</span>
						</span>
						</p>

						<p>Huge Number:<br>
							<input type="number" name="hugeNumber" ng-model="vm.hugeNumber" placeholder="Huge Number" ng-pattern="vm.numbersOnly" required>
							<span style="color:red" ng-show="myForm.hugeNumber.$dirty && myForm.hugeNumber.$invalid">
							<span ng-show="myForm.hugeNumber.$error.pattern">Must be a number</span>
							<span ng-show="myForm.hugeNumber.$error.required"> Huge number is required</span>
							</span>
						</p>
						<p>Adjective:<br>
							<input type="text" name="adjective" ng-model="vm.adjective" placeholder="adjective" required>
							<span style="color:red" ng-show="myForm.adjective.$dirty && myForm.adjective.$invalid">
							<span ng-show="myForm.adjective.$error.required">Adjective is required.</span>
							</span>
						</p>
					</div>
					<hr style="clear:both">
					<input type="submit" value="Generate my Madlib" ng-disabled = "!myForm.$valid" ng-hide="vm.submitted"/>
					<div style="clear:both"></div>
				</form>
				
			</section>
			<section id="results">
			<button ng-click="vm.reset()" ng-show="vm.submitted">Start Over</button>
					<p style="clear:both">&nbsp</p>
				<p id="first" ng-show="vm.submitted">{{vm.name}} was a {{vm.jobTitle}} who loved technology. Although {{vm.genderPronoun}} loved parts of {{vm.genderPosessive}} job, {{vm.genderPronoun}} absolutely hated {{vm.tediousTask}} and {{vm.dirtyTask}}. So, {{vm.name}} met with {{vm.genderPosessive}} life mentor {{vm.celebrity}} who told {{vm.genderPosessive}} to learn how to {{vm.uselessSkill}} with Thinkful. Thinkful didn't offer a course on {{vm.uselessSkill}} so {{vm.genderPronoun}} studied programming instead. </p> 
				<p id="last" ng-show="vm.submitted">What a great decision! With {{vm.genderPosessive}} new skills, {{vm.name}} built a(n) {{vm.adjective}} robot named {{vm.obnoxiousCelebrity}} that not only loved {{vm.dirtyTask}} but did it {{vm.hugeNumber}} times faster. </p>
			</section>
		</div>
	</body>
</html>